# http://www.gnu.org/software/automake

#Makefile.in

# http://www.gnu.org/software/autoconf

#/autom4te.cache
#/aclocal.m4
#/compile
#/configure
#/depcomp
#/install-sh
#/missing
#/stamp-h1

#/omega/autom4te.cache
#/omega/aclocal.m4
#/omega/compile
#/omega/depcomp
#/omega/install-sh
#/omega/missing

