# http://www.gnu.org/software/automake

Makefile.in
Makefile

# vim swap file

*.swp

# CMake build

/build

# CLion project config

/.idea
/cmake-build-*

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/ar-lib
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/test-driver

/omega/autom4te.cache
/omega/aclocal.m4
/omega/ar-lib
/omega/compile
/omega/configure
/omega/depcomp
/omega/install-sh
/omega/missing

# Eclipse project config

/.cproject
/.settings
/.project
